/* Style pour les fieldset */
fieldset {
  border: 1px solid #000; /* Bordure de 1 pixel de couleur noire */
  padding: 10px; /* Marge intérieure pour espacement */
  margin-bottom: 20px; /* Espacement entre les fieldsets */
}

/* Style pour la légende du fieldset */
legend {
  font-weight: bold;
}
