<div *ngFor="let item of list">
  <div *ngIf="item.idFournisseur <= 100">
    <fieldset [style.background-color]="getColor(item.code)" (dblclick)="removeFournisseur(item.idFournisseur)">
      <legend>idFournisseur {{item.idFournisseur}}</legend>
      <div *ngIf="item.libelle === 'hp' else alt">
            <h4 [style.font-weight]="item.code.startsWith('2A') ? 'bold' : 'normal'">code {{item.code}}</h4>
            <h4 >libelle {{item.libelle}}</h4>
      </div>
      <ng-template #alt>
            <h4 [style.font-weight]="item.code.startsWith('2A') ? 'bold' : 'normal'">code {{item.code}}</h4>
            <h4 >libelle {{item.libelle}}</h4>
      </ng-template>
    </fieldset>
  </div>
</div>
